* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 44px;
  z-index: 200;
  background-color: #db4c3f;
  border-bottom: 1px solid transparent;
}

.todo-app {
  margin-top: 20px;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button:disabled {
  opacity: 0.3;
}

.edit_actions {
  padding: 10px 0 0;
}

.edit_actions > * {
  margin-right: 5px;
  border-radius: 3px;
}
